<h1>Edit Repo</h1>

<form id="edit-repo" name="repo" class="form-horizontal well">
  <fieldset>
    <legend>GitHub Info</legend>
    <div class="control-group">
      <label class="control-label" for="name">Repo Name</label>
      <div class="controls">
        <input type="text" class="input-large" id="name" name="name" value="<%= name %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="owner">Owner</label>
      <div class="controls">
        <input type="text" class="input-large" id="owner" name="owner" value="<%= owner %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="token">OAuth Token</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="token" name="token" value="<%= token %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="client_id">Client ID</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="client_id" name="client_id" value="<%= client_id %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="client_secret">Client Secret</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="client_secret" name="client_secret" value="<%= client_secret %>">
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Provisioning</legend>
    <div class="control-group">
      <label class="control-label" for="should_provision_mysql">MySQL</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" id="should_provision_mysql" name="should_provision_mysql" <%= should_provision_mysql ? 'checked="checked"' : "" %>>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="should_provision_nginx">Nginx</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" id="should_provision_nginx" name="should_provision_nginx" <%= should_provision_nginx ? 'checked="checked"' : "" %>>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="should_provision_redis">Redis</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" id="should_provision_redis" name="should_provision_redis" <%= should_provision_redis ? "checked" : "" %>>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="nginx_template">Nginx Config Template</label>
      <div class="controls">
        <textarea id="nginx_template" name="nginx_template" rows="10" cols="90"><%= nginx_template %></textarea>
        <p class="help-block">Template variables: {{number}} {{build_dir}}</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="redis_template">Redis Config Template</label>
      <div class="controls">
        <textarea id="redis_template" name="redis_template" rows="10" cols="90"><%= redis_template %></textarea>
        <p class="help-block">Template variables: {{port}} {{pidfile}} <strong>must be set correctly</strong></p>
      </div>
    </div>


  </fieldset>

  <fieldset>
    <legend>JIRA Integration</legend>
    <div class="control-group">
      <label class="control-label" for="name">JIRA Url</label>
      <div class="controls">
        <input type="text" class="input-large" id="jira_url" name="jira_url" value="<%= jira_url %>">
        <p class="help-block">e.g. http://jira.local/</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-success">Save Repo</button>
      <button class="destroy btn btn-danger">Delete Repo</button>
    </div>
  </fieldset>
</form>


<a href="#/index">Back</a>
