<h1>New Repo</h1>

<form id="new-repo" name="repo">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="owner"> owner:</label>
    <input type="text" name="owner" id="owner" value="<%= owner %>" >
  </div>

  <div class="field">
    <label for="client_id"> client id:</label>
    <input type="text" name="client_id" id="client_id" value="<%= client_id %>" >
  </div>

  <div class="field">
    <label for="client_secret"> client secret:</label>
    <input type="text" name="client_secret" id="client_secret" value="<%= client_secret %>" >
  </div>

  <div class="field">
    <label for="jira_url"> jira url:</label>
    <input type="text" name="jira_url" id="jira_url" value="<%= jira_url %>" >
  </div>

  <div class="actions">
    <input type="submit" class="btn btn-success" value="Create Repo" />
  </div>

</form>

<a href="#/index">Back</a>
