<td><h3><a href="#/<%= id %>"><%= owner %>/<%= name %></a></h3></td>

<td>
  <a class="btn btn-warning" href="#/<%= id %>/edit">Edit</a>
  <a class="btn btn-danger" href="#/<%= id %>/destroy" class="destroy">Destroy</a>
</td>
