<%
  var statusClass = "";
  var statusMsg = "Unknown";

  switch(status) {
    case 0:
      statusMsg = "In Progress";
      break;
    case 1:
      statusClass = "badge-success";
      statusMsg = "Complete";
      break;
    case 2:
      statusClass = "badge-important";
      statusMsg = "Failed";
      break;
  };
%>

<td><a href="<%= url %>"><%= title %></a></td>
<td><img width=32 height=32 src="<%= user_avatar_url %>" /> <%= user_login %></td>
<td><span class="badge <%= statusClass %>"><%= statusMsg %></span></td>
<td><%= created_at %></td>
<td><a href="#" class="btn btn-info">View Website</a>
<a href="#" class="btn">View Logfile</a>
<a href="#/pull_requests/<%= id %>/rebuild" class="btn btn-primary">Rebuild</a></td>
